# Build outputs
bin/
obj/
publish/
*.user
*.suo
.vs/

# .NET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Logs & runtime data
C:\ProgramData\ChildPCGuard\
logs/
*.log

# Sensitive
config.bin
state.json
init.json
*.pfx
*.p12

# VS/Rider IDE
.idea/
*.DotSettings.user
TestResults/
